<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <applicationSettings>
    <GitCommands.Properties.Settings>
      <!--Set this setting to True to store settings with the application, False to  store settings in user's application data path.-->
      <setting name="IsPortable" serializeAs="String">
        <value>False</value>
      </setting>
    </GitCommands.Properties.Settings>
  </applicationSettings>
</configuration>
