/* See (App install)\Themes\README.md for instructions on how to create or modify a theme */

@import url("dark.css");

/* Application colors */
.PanelBackground { color: #191a1b; }
.EditorBackground { color: #121314; }
.LineNumberBackground { color: #252526; }
.AuthoredHighlight { color: #282800; }
.Selection { color: #2d6981; }
.HighlightAllOccurences { color: #173440; }
.InactiveSelectionHighlight { color: #1e3d4b; }

.RevisionGridRelativeNonSelectedSubjectText { color: #ffffff; }
.RevisionGridRelativeSelectedBodyText { color: #aaaa96; }
.RevisionGridNonRelativeNonSelectedSubjectText { color: #c0c0c0; }
.RevisionGridNonRelativeNonSelectedBodyText { color: #828282; }
.RevisionGridNonRelativeSelectedSubjectText { color: #ebebd7; }
.RevisionGridNonRelativeSelectedBodyText { color: #aaaa96; }

.Branch { color: #00d76b; }
