/* See (App install)\Themes\README.md for instructions on how to create or modify a theme */

/* Application colors */
.AuthoredHighlight           { color: #2a2b26; }
.HighlightAllOccurences      { color: #606020; }
.Branch                      { color: #00d76b; }
.RemoteBranch                { color: #ff8080; } /* hsl(0,   100%, 75%) */
.RemoteBranch.colorblind     { color: #0080ff; } /* hsl(210, 100%, 50%) */
.Tag                         { color: #408080; }
.OtherTag                    { color: #a1a1a1; }
.DiffSection                 { color: #4f4f4f; }
.AnsiTerminalRedBackNormal            { color: #4b0606; } /* hsl(0,   85%,  16%) */
.AnsiTerminalRedBackNormal.colorblind { color: #080646; } /* hsl(242, 84%,  15%) */
.AnsiTerminalRedBackBold              { color: #6c0404; } /* hsl(0,   93%,  22%) */
.AnsiTerminalRedBackBold.colorblind   { color: #09058a; } /* hsl(242, 93%,  28%) */
.AnsiTerminalGreenBackNormal          { color: #054224; }
.AnsiTerminalGreenBackBold            { color: #046c38; }
