/* See (App install)\Themes\README.md for instructions on how to create or modify a theme */

/* Define to enable Windows dark mode */
.DarkModePseudoColor { color: #000000; }

/* Application colors */
.AuthoredHighlight { color: #1a3368; }
.HighlightAllOccurences { color: #1d4897; }
.InactiveSelectionHighlight { color: #374758; }
.PanelBorder { color: #3b3b3b; }

.OtherTag { color: #cfb3b3; }
.Tag { color: #5ba8d0; }
.Graph { color: #882d00; }

.GraphBranch1 { color: #db5b93; }
.GraphBranch2 { color: #6fa7d4; }
.GraphBranch3 { color: #1da31b; }
.GraphBranch4 { color: #8a67cf; }
.GraphBranch5 { color: #c02a22; }
.GraphBranch6 { color: #17aa8f; }
.GraphBranch7 { color: #ca9b0d; }
.GraphBranch8 { } /* color not specified, color slot will not be used */

.Branch { color: #00d76b; }
.RemoteBranch { color: #ff8080; } /* hsl(0,   100%, 75%) */
.RemoteBranch.colorblind { color: #0080ff; } /* hsl(210, 100%, 50%) */
.DiffSection { color: #5f5e5e; }

/* translation of terminal (cli) ansi color output sequences */
/* Named 3/4 bit colors from the "theme" at https://github.com/mintty/mintty/blob/master/themes/kohlrausch */
/* Adjusted to match dark apps */

.AnsiTerminalBlackForeNormal { color: #000000; }
.AnsiTerminalBlackBackNormal { color: #606060; }
.AnsiTerminalBlackForeBold { color: #000000; }
.AnsiTerminalBlackBackBold { color: #7f7f7f; }

.AnsiTerminalRedForeNormal { color: #a21e29; }
.AnsiTerminalRedBackNormal { color: #620707; }
.AnsiTerminalRedBackNormal.colorblind { color: #080646; }
.AnsiTerminalRedForeBold { color: #ff7676; }
.AnsiTerminalRedBackBold { color: #920202; }
.AnsiTerminalRedBackBold.colorblind { color: #09058a; }

.AnsiTerminalGreenForeNormal { color: #1c9b02; }
.AnsiTerminalGreenForeBold { color: #00f200; }
.AnsiTerminalGreenBackNormal { color: #086738; }
.AnsiTerminalGreenBackBold { color: #008f37; }

.AnsiTerminalYellowForeNormal { color: #7c6c19; }
.AnsiTerminalYellowBackNormal { color: #beca0d; }
.AnsiTerminalYellowForeBold { color: #e2e211; }
.AnsiTerminalYellowBackBold { color: #d3d30e; }

.AnsiTerminalBlueForeNormal { color: #314cd4; }
.AnsiTerminalBlueBackNormal { color: #1b57be; }
.AnsiTerminalBlueForeBold { color: #3e65ff; }
.AnsiTerminalBlueBackBold { color: #3d64ff; }

.AnsiTerminalMagentaForeNormal { color: #883997; }
.AnsiTerminalMagentaBackNormal { color: #903ba1; }
.AnsiTerminalMagentaForeBold { color: #ff70ff; }
.AnsiTerminalMagentaBackBold { color: #da2dda; }

.AnsiTerminalCyanForeNormal { color: #007e73; }
.AnsiTerminalCyanBackNormal { color: #039185; }
.AnsiTerminalCyanForeBold { color: #00f0f0; }
.AnsiTerminalCyanBackBold { color: #00dbdb; }

.AnsiTerminalWhiteForeNormal { color: #bfbfbf; }
.AnsiTerminalWhiteBackNormal { color: #bfbfbf; }
.AnsiTerminalWhiteForeBold { color: #ffffff; }
.AnsiTerminalWhiteBackBold { color: #ffffff; }
