; Visual Studio Extension : http://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328
; See http://editorconfig.org/ for more informations
; Top-most EditorConfig file
root = true

; 4-column space indentation
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{csproj,vcxproj}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.{props,targets}]
indent_size = 2

[*.Designer.cs]
trim_trailing_whitespace = false

[*.{xml,config,nuspec,xslt,wxs}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{patch,diff}]
trim_trailing_whitespace = false

[*.blame]
trim_trailing_whitespace = false

[*.resx]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
