
*.obj
*.exe
*.html
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.htm
*.zip
*.sdf
*.opensdf
[Dd]ebug/
*.lib
*.sbr
Thumbs.db
[Ll]ib/
[Rr]elease*/
[Dd]ebug*/
UMM/UMM448/IActivaplanner.h
[Tt]est[Rr]esults/
*.orig
_UpgradeReport_Files/
_ReSharper.*/

!/Bin/ICSharpCode.TextEditor.dll
!/Bin/plink.exe
!/Bin/pageant.exe
!/Bin/puttygen.exe
!/Bin/[Kk][dD]iff3*.exe
!/Bin/Git-1*.exe
SimpleExt/dlldata.c
SimpleExt/SimpleExt.h
*.msi