*.obj
*.exe
*.html
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.htm
*.zip
[Dd]ebug/
*.lib
*.sbr
[Ll]ib/
[Rr]elease*/
[Dd]ebug*/
UMM/UMM448/IActivaplanner.h
[Tt]est[Rr]esults/


!/Bin/ICSharpCode.TextEditor.dll