#basic visual studio directories
_UpgradeReport_Files/
[Dd]ebug*/
[Rr]elease*/
ipch/
_ReSharper*/
TestResults/

*.sdf
*.opensdf
*.ipch

*/obj
Plugins/*/obj
Plugins/*/bin
Plugins/*/*/obj
Plugins/*/*/bin

#ignore output mild compiler
SimpleExt/Generated/*

#ignore some unwanted files
*.ncb
*.suo
*.csproj.user
*.orig
*.msi
*.user
*.aps
*.bak
*.[Cc]ache
Thumbs.db
GitPlugin/bin/*
Setup/GitExtensions207.zip
GitPlugin/Properties/Resources.resources
*.pidb
*.resources
*.userprefs
*.dotCover
*.ncrunchproject
*.ncrunchsolution
