[submodule "GitExtensionsTest"]
	path = GitExtensionsTest
	url = git://github.com/gitextensions/gitextensionstest.git
[submodule "GitExtensionsDoc"]
	path = GitExtensionsDoc
	url = git://github.com/gitextensions/GitExtensionsDoc.git
[submodule "Externals/NBug"]
	path = Externals/NBug
	url = git://github.com/gitextensions/NBug.git
[submodule "Externals/Git.hub"]
	path = Externals/Git.hub
	url = git://github.com/gitextensions/Git.hub.git
