Henk Westhuis <henk_westhuis@hotmail.com> <Henk@.(none)>
Henk Westhuis <henk_westhuis@hotmail.com> <henk>
Bjørn Moe <bem-github@farlig.org>
Arkadiy Shapkin <arkadiy_s@inbox.ru>
Janusz Białobrzewski <janusz@biu.pl>
<jbialobr@o2.pl> <janusz@biu.pl>
RussKie <russkie@gmail.com> <russkie@screamer>
<russkie@gmail.com> <russkie@mac>
<russkie@gmail.com> <russkie@macp>
