version: 3.6.0.{build}

branches:
  except:
    - configdata
    - gh-pages
    - /experimental\/*/

matrix:
  fast_finish: true

# https://www.appveyor.com/docs/build-environment/#build-worker-images
image: Visual Studio 2019

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

cache:
  # preserve "GitExtensions.PluginManager" directory, will be reset if appveyor.yml is modified
  - .\artifacts\publish\GitExtensions.PluginManager -> appveyor.yml

# Build settings, not to be confused with "before_build" and "after_build".
# "project" is relative to the original build directory and not influenced by directory changes in "before_build".
build:
  # enable MSBuild parallel builds
  parallel: true
  # MSBuild verbosity level
  verbosity: minimal

install:
- cmd: git submodule update --init --recursive
- cmd: echo /logger:"%ProgramFiles%\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll">> Directory.Build.rsp
- cmd: |-
    cd scripts
    C:\\Python35\\python set_version_to.py -v %APPVEYOR_BUILD_VERSION% -t %APPVEYOR_BUILD_VERSION%
    cd ..


# to run your custom scripts instead of automatic MSBuild
build_script:
- ps: |
    # for release branches mark the repo as clean
    if (!$env:APPVEYOR_PULL_REQUEST_TITLE -and $env:APPVEYOR_REPO_BRANCH.StartsWith("release/")) {
      & .\scripts\Mark-RepoClean.ps1
    }

    # if building a temporary merge with master, soft reset to the PR commit so the build contains the PR's hash instead of the merge-commit's hash
    if ($env:APPVEYOR_PULL_REQUEST_HEAD_COMMIT -and ($env:APPVEYOR_REPO_COMMIT -ne $env:APPVEYOR_PULL_REQUEST_HEAD_COMMIT))
    {
      git reset --soft "$env:APPVEYOR_PULL_REQUEST_HEAD_COMMIT" --
    }

    # build
    dotnet build -c Release --nologo /bl:build.binlog

    # if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
    # 
    # # if we have reset above, we need to restore the merge commit, otherwise the loc verification step will fail
    # # refer to https://github.com/gitextensions/gitextensions/issues/7979
    # if ($env:APPVEYOR_PULL_REQUEST_HEAD_COMMIT) {
    #   git config user.email "gitextensions@github.com"
    #   git config user.name "Git Extensions"
    #   git commit -m "restore merge commit"
    # }
    # 
    # # it would be nice to run '.\cibuild.cmd -loc -logFileName localise.binlog /p:NoBuild=true' but it doesn't work without `-build` switch :\
    # Push-Location .\GitExtensions
    # msbuild /p:Configuration=Release /t:_UpdateEnglishTranslations /p:RunTranslationApp=true /p:ContinuousIntegrationBuild=true /v:m /bl:..\artifacts\log\localise.binlog
    # if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
    # Pop-Location

# to run your custom scripts instead of automatic tests
test_script:
- ps: |
    dotnet test --no-restore --nologo /bl:tests.binlog


# scripts to run after tests
after_test:
- ps: |
    Write-Host "Preparing build artifacts..."
    # & .\cibuild.cmd -publish -logFileName publish.binlog
    # if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }


artifacts:
  - path: artifacts\log\**\*.binlog
  - path: artifacts\publish\*.zip

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))


# on build failure
on_failure:
- ps: |
    Get-ChildItem -recurse artifacts\log\*.binlog -ErrorAction SilentlyContinue `
    | ForEach-Object {
        Push-AppveyorArtifact "$_"
    }
- ps: |
    Get-ChildItem -recurse English*.xlf -ErrorAction SilentlyContinue `
    | ForEach-Object {
        Push-AppveyorArtifact "$_"
    }
- ps: |
    Get-ChildItem -recurse artifacts\tests\TestResult.xml -ErrorAction SilentlyContinue `
    | ForEach-Object {
        $resultFilePath = "$_"
        Get-Content $resultFilePath `
        | Select-String -Pattern '<test-run id="[^"]*"\s+testcasecount="(\d+)"\s+result="([^"]*)"\s+total="(\d+)"\s+passed="(\d+)"\s+failed="(\d+)".*' `
        | foreach {
            $result = $_.Matches.Groups

            $total  = $result[1].Value
            $passed = $result[4].Value
            $failed = $result[5].Value
            $notPassed = $total - $passed
            $testErrors = $failed
            $testProjectName = $resultFilePath.Split('\\')[-3]

            if ($testErrors -ne 0) {
              $logFile = Get-ChildItem -recurse artifacts\$testProjectName*.log
              Push-AppveyorArtifact $logFile
            }
        }
    }
