version: 4.0.0.{build}

os: Visual Studio 2019

branches:
  except:
    - configdata
    - gh-pages

environment:
  # The following entries define the default values of the environment variables.
  # They can be overridden in AppVeyor | Settings | Environment.
  matrix:
  - IdeVersion: VS2019
  SKIP_PAUSE: TRUE
  ARCHIVE_WITH_PDB: TRUE
  GE_TEST_SLEEP_SECONDS_ON_HANG: 0
  GE_TEST_LAUNCH_DEBUGGER_ON_HANG: 0
  TEST_RUN_COUNT: 1
  IGNORE_TEST_RESULT: FALSE

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# Build settings, not to be confused with "before_build" and "after_build".
# "project" is relative to the original build directory and not influenced by directory changes in "before_build".
build:
  # enable MSBuild parallel builds
  parallel: true
  # MSBuild verbosity level
  verbosity: minimal

cache:
  #- packages -> **\packages.config      # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified
  - packages\WiX.3.11.0 -> Setup\packages.config

install:
- cmd: git submodule update --init --recursive
- cmd: echo /logger:"%ProgramFiles%\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll">> Directory.Build.rsp
- cmd: |-
    cd Setup
    C:\\Python35\\python set_version_to.py -v %APPVEYOR_BUILD_VERSION% -t %APPVEYOR_BUILD_VERSION%
    cd ..


# to run your custom scripts instead of automatic MSBuild
build_script:
- ps: |
    Write-Output "Platform: $env:IdeVersion"

    # for release branches mark the repo as clean
    if (!$env:APPVEYOR_PULL_REQUEST_TITLE -and $env:APPVEYOR_REPO_BRANCH.StartsWith("release/")) {
      & .\Build\Mark-RepoClean.ps1
    }

    # build
    & .\cibuild.cmd -restore -build -buildNative
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }


# to run your custom scripts instead of automatic tests
test_script:
- ps: |
    Write-Host "Tests are running..."
    Write-Host $pwd
    $testErrorsTotal = 0
    $testRunCount = $env:TEST_RUN_COUNT
    for ($testRun=1; $testRun -le $testRunCount; $testRun++)
    {
        Write-Host ""
        Write-Host "[INFO]: Test Run ${testRun}/${testRunCount}, ${testErrorsTotal} test(s) failed before"

        & .\cibuild.cmd -integrationTest
        & .\cibuild.cmd -test

        Get-ChildItem -recurse artifacts\bin\tests\TestResult.xml `
        | ForEach-Object {
            $resultFilePath = "$_"
            Get-Content $resultFilePath `
            | Select-String -Pattern '<test-run id="[^"]*"\s+testcasecount="(\d+)"\s+result="([^"]*)"\s+total="(\d+)"\s+passed="(\d+)"\s+failed="(\d+)".*' `
            | foreach {
                $result = $_.Matches.Groups
                #$result[0].Value
                $total  = $result[1].Value
                $passed = $result[4].Value
                $failed = $result[5].Value
                $notPassed = $total - $passed
                $testErrors = $failed
                $testName = $resultFilePath.Split('\\')[-3]
                $artifactName = "TestResult#${testRun}.${testErrors}err.${testName}"
                Push-AppveyorArtifact $resultFilePath -FileName "${artifactName}.xml"
                if ($notPassed -ne 0) {
                    $logFile = Get-ChildItem -recurse artifacts\$testname*.log
                    Get-Content $logFile
                    if ($testErrors -ne 0) { Push-AppveyorArtifact $logFile -FileName "${artifactName}.log" }
                }
                $testErrorsTotal += $testErrors
            }
        }
    }
    if ($testErrorsTotal -ne 0  -and  $env:IGNORE_TEST_RESULT -ne "true") { $host.SetShouldExit($testErrorsTotal) }


# scripts to run after tests
after_test:
- ps: |
    Write-Host "Preparing build artifacts..."
    & .\cibuild.cmd -publish
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }


artifacts:
  - path: artifacts\log\**\*.binlog
  - path: artifacts\publish\*.zip
#  # upload the generated portable archive only
#  - path: 'Setup/GitExtensions-Portable-*.zip'
#  - path: 'Setup/GitExtensions-pdbs-*.zip'
#  - path: 'GitExtensionsVSIX/bin/Release/GitExtensionsVSIX.vsix'

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
