<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="GitEx_RequiredSoftwareDlg" Width="370" Height="270" Title="!(loc.VerifyReadyDlg_Title)" TrackDiskSpace="yes">
        <Control Id="Back" Type="PushButton" X="177" Y="243" Width="56" Height="18" Text="!(loc.WixUIBack)"/>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="18" Text="!(loc.WixUINext)"/>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="18" Cancel="no" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="GitEx_CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)"/>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2"/>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2"/>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Required Software"/>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Install the additional software required to run Git Extensions"/>
        <Control Id="MsysGitTitle" Type="Text" Height="15" Width="200" X="15" Y="70" Text="{\WixUI_Font_Title}MsysGit 1.7.6"/>
        <Control Id="MsysGitDescription" Type="Text" Height="46" Width="238" X="25" Y="86" Text="MsysGit is the native version of Git for Windows that powers Git Extensions. You must have a version of MsysGit installed for Git Extensions to function properly."/>
        <Control Id="MsysGitCheckBox" Type="CheckBox" Height="20" Width="78" X="274" Y="87" Text="Install MsysGit" Property="INSTALLMSYSGIT" CheckBoxValue="1"/>
        <Control Id="KDiffTitle" Type="Text" Height="15" Width="200" X="15" Y="136" Text="{\WixUI_Font_Title}KDiff3 0.9.96"/>
        <Control Id="KDiffDescription" Type="Text" Height="46" Width="238" X="25" Y="152" Text="KDiff is a diff/merge tool that Git Extensions calls upon when it encounters a merge conflict. If you already have a diff/merge tool that works with Git then you don't need to install this."/>
        <Control Id="KDiffCheckBox" Type="CheckBox" Height="20" Width="78" X="274" Y="154" Text="Install KDiff"  Property="INSTALLKDIFF3" CheckBoxValue="1" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>