<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GitCommands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <GitCommands.Properties.Settings>
      <!-- The worker always runs from a disposable copy of the tool output. Portable
           mode therefore confines GitExtensions.settings to that temporary directory. -->
      <setting name="IsPortable" serializeAs="String">
        <value>True</value>
      </setting>
    </GitCommands.Properties.Settings>
  </applicationSettings>
</configuration>
