<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GitUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GitUI.Properties.Settings>
            <setting name="Hotkeys" serializeAs="String">
                <value />
            </setting>
            <setting name="FormBrowse_FileTreeSplitContainer_SplitterDistance" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="FormBrowse_DiffSplitContainer_SplitterDistance" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="Dashboard_MainSplitContainer_SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dashboard_CommonSplitContainer_SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dashboard_DeviceDpi" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="FormBrowse_DeviceDpi" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="FormBrowse_MainSplitContainer_SplitterDistance" serializeAs="String">
                <value>213</value>
            </setting>
            <setting name="FormBrowse_BranchTreePanel_Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormBrowse_RevisionsSplitContainer_SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
        </GitUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
