<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConEmu.Control.WinForms" version="1.0.20160313.1" targetFramework="net40-client" />
  <package id="ConEmu.Core" version="16.7.10.0" targetFramework="net40-client" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40-Client" />
</packages>