<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.13" targetFramework="net461" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="FluentAssertions" version="5.2.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.46" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.6.46" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net461" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta006" targetFramework="net461" developmentDependency="true" />
  <package id="System.IO.Abstractions" version="2.0.0.144" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>