/* See (App install)\Themes\README.md for instructions on how to create or modify a theme */

/* System colors */
.ActiveBorder            { color: #6b6b6b; }
.ActiveCaption           { color: #585858; }
.ActiveCaptionText       { color: #e2e2e2; }
.AppWorkspace            { color: #474747; }
.Control                 { color: #303030; }
.ControlDark             { color: #bbbbbb; }
.ControlDarkDark         { color: #c7c7c7; }
.ControlLight            { color: #636363; }
.ControlLightLight       { color: #9b9b9b; }
.ControlText             { color: #cccccc; }
.Desktop                 { color: #3b3b3b; }
.GrayText                { color: #929191; }
.Highlight               { color: #c7c7c7; }
.HighlightText           { color: #444444; }
.HotTrack                { color: #bccff3; }
.InactiveBorder          { color: #4c4d4d; }
.InactiveCaption         { color: #3c3f41; }
.InactiveCaptionText     { color: #afb1b3; }
.Info                    { color: #636655; }
.InfoText                { color: #d5dbe0; }
.Menu                    { color: #383d3f; }
.MenuText                { color: #cecece; }
.ScrollBar               { color: #606163; }
.Window                  { color: #292929; }
.WindowFrame             { color: #cdd1da; }
.WindowText              { color: #bdbdbd; }
.GradientActiveCaption   { color: #4e5255; }
.GradientInactiveCaption { color: #292929; }
.MenuBar                 { color: #2d3133; }
.MenuHighlight           { color: #7fabfd; }

/* Application colors */
.OtherTag                { color: #cccccc; }
.AuthoredHighlight       { color: #373832; }
.HighlightAllOccurences  { color: #606020; }
.Tag                     { color: #408080; }
.Graph                   { color: #882d00; }
.RemoteBranch            { color: #ff8080; } /* hsl(0,   100%, 75%) */
.DiffSection             { color: #4f4f4f; }
.DiffAdded               { color: #054e2a; }
.DiffAddedExtra          { color: #058545; }

.Branch                      { color: #00d76b; }
.Branch.colorblind           { color: #0080ff; } /* hsl(210, 100%, 50%) */
.DiffRemoved                 { color: #5a0707; } /* hsl(0,   86%,  19%) */
.DiffRemoved.colorblind      { color: #090755; } /* hsl(242, 85%,  18%) */
.DiffRemovedExtra            { color: #7f0505; } /* hsl(0,   92%,  26%) */
.DiffRemovedExtra.colorblind { color: #0b0698; } /* hsl(242, 92%,  31%) */
