<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
</packages>