<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GitCommands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GitCommands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <GitCommands.Properties.Settings>
      <setting name="AlwaysShowCheckoutBranchDlg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Translation" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentTranslation" serializeAs="String">
        <value />
      </setting>
      <setting name="UserProfileHomeDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomHomeDir" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAutoScale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IconColor" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="IconStyle" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="AuthorImageSize" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="AuthorImageCacheDays" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ShowAuthorGravatar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseCommitDialogAfterCommit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseCommitDialogAfterLastCommit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StageInSuperprojectAfterCommit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlaySpecialStartupSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FollowRenamesInFileHistory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FullHistoryInFileHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadFileHistoryOnShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadBlameOnShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RevisionGraphShowWorkingDirChanges" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RevisionGraphDrawNonRelativesGray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RevisionGraphDrawNonRelativesTextGray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PullMerge" serializeAs="String">
        <value>Merge</value>
      </setting>
      <setting name="DonSetAsLastPullAction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="AutoStash" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDefaultCheckoutBranchAction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontShowHelpImages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontConfirmAmend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontConfirmPushNewBranch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontConfirmAddTrackingRef" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeUntrackedFilesInAutoStash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeUntrackedFilesInManualStash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrderRevisionByDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Dictionary" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="ShowGitCommandLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowStashCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RelativeDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseFastChecks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowGitNotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RevisionGraphLayout" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowAuthorDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseProcessDialog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCurrentBranchOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BranchFilterEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommitDialogSplitter" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CommitDialogRightSplitter" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="RevisionGridQuickSearchTimeout" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="GravatarFallbackService" serializeAs="String">
        <value>Identicon</value>
      </setting>
      <setting name="GitCommand" serializeAs="String">
        <value>Git</value>
      </setting>
      <setting name="GitBinDir" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxRevisionGraphCommits" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="RecentWorkingDir" serializeAs="String">
        <value />
      </setting>
      <setting name="Plink" serializeAs="String">
        <value />
      </setting>
      <setting name="Puttygen" serializeAs="String">
        <value />
      </setting>
      <setting name="Pageant" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoStartPageant" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MarkIllFormedLinesInCommitMsg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OtherTagColor" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="TagColor" serializeAs="String">
        <value>DarkBlue</value>
      </setting>
      <setting name="GraphColor" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="BranchColor" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="RemoteBranchColor" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="DiffSectionColor" serializeAs="String">
        <value>230, 230, 230</value>
      </setting>
      <setting name="DiffRemovedColor" serializeAs="String">
        <value>255, 200, 200</value>
      </setting>
      <setting name="DiffRemovedExtraColor" serializeAs="String">
        <value>255, 150, 150</value>
      </setting>
      <setting name="DiffAddedColor" serializeAs="String">
        <value>200, 255, 200</value>
      </setting>
      <setting name="DiffAddedExtraColor" serializeAs="String">
        <value>135, 255, 135</value>
      </setting>
      <setting name="DiffFont" serializeAs="String">
        <value>Courier New, 10pt</value>
      </setting>
      <setting name="CommitFont" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="MulticolorBranches" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StripedBranchChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BranchBorders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCurrentBranchInVisualStudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastFormatPatchDir" serializeAs="String">
        <value />
      </setting>
      <setting name="DashboardShowCurrentBranch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ownScripts" serializeAs="String">
        <value />
      </setting>
      <setting name="PushAllTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RecursiveSubmodules" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShorteningRecentRepoPathStrategy" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxMostRecentRepositories" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RecentReposComboMinWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortMostRecentRepos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortLessRecentRepos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoFastForwardMerge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommitValidationMaxCntCharsFirstLine" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommitValidationMaxCntCharsPerLine" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommitValidationSecondLineMustBeEmpty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommitValidationIndentAfterFirstLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommitValidationAutoWrap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommitValidationRegEx" serializeAs="String">
        <value />
      </setting>
      <setting name="CommitTemplates" serializeAs="String">
        <value />
      </setting>
      <setting name="CreateLocalBranchForRemote" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CascadeShellMenuItems" serializeAs="String">
        <value>110111000111111111</value>
      </setting>
      <setting name="UseFormCommitMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UsePatienceDiffAlgorithm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepositoryHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoteRepositoryHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="Repositories" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPullActionString" serializeAs="String">
        <value />
      </setting>
      <setting name="StartWithRecentWorkingDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowErrorsWhenStagingFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowGitStatusInBrowseToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUncommittedChangesInCheckoutBranch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TruncatePathMethod" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="CheckSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommitInfoShowContainedInBranchesLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommitInfoShowContainedInBranchesRemote" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommitInfoShowContainedInBranchesRemoteIfNoLocal"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommitInfoShowContainedInTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplyPatchIgnoreWhitespace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserMenuLocationX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="UserMenuLocationY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="StashKeepIndex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StashConfirmDropShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InstallDir" serializeAs="String">
        <value />
      </setting>
      <setting name="PluginsSettingsString" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefreshCommitDialogOnFormFocus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastCommitMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="HelpExpandedString" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="SmtpUseSsl" serializeAs="String">
        <value>True</value>
      </setting>
    </GitCommands.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GitCommands.Properties.Settings>
      <!--Change this setting to True to have the application keep settings in the folder where the application is stored to allow portability.-->
      <setting name="IsPortable" serializeAs="String">
        <value>False</value>
      </setting>
    </GitCommands.Properties.Settings>
  </applicationSettings>
</configuration>
