<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.16.204221202" targetFramework="net45" />
  <package id="Microsoft.TeamFoundationServer.Client" version="14.89.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.89.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.89.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.5.1.0" targetFramework="net45" />
</packages>