<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.4" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.4" targetFramework="net461" />
  <package id="Microsoft.TeamFoundation.Client-final" version="12.0.21005.1" targetFramework="net461" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common" version="15.112.1" targetFramework="net461" />
  <package id="Microsoft.TeamFoundationServer.Client" version="15.112.1" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.112.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="15.112.1" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.4" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="4.1.2" targetFramework="net461" />
</packages>