<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="UserPluginsDir">
            <Component Id="cmpDF78EF4187F058CE5F736D29AC6987B6" Guid="*">
                <File Id="fil0AD9FC14D6C3A46498F2A1800D2FEDA1" KeyPath="yes" Source="$(var.PluginManagerSourceDir)\GitExtensions.PluginManager.dll" />
            </Component>
            <Directory Id="dir7351E76F113B364403061A39D2447F8D" Name="PackageManager">
                <Component Id="cmp143681A5E573D00A5CF51D86FF5F085C" Guid="*">
                    <File Id="fil8EFAEC01EDFFA6AA045ADA67A54446CB" KeyPath="yes" Source="$(var.PluginManagerSourceDir)\PackageManager\PackageManager.UI.exe" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PluginManager">
            <ComponentRef Id="cmpDF78EF4187F058CE5F736D29AC6987B6" />
            <ComponentRef Id="cmp143681A5E573D00A5CF51D86FF5F085C" />
        </ComponentGroup>
    </Fragment>
</Wix>