<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Config.wxi?>

  <Product
    Id="*" UpgradeCode="$(var.UpgradeCode)"
    Name="$(var.ProductName) $(var.Version)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.Version)"
    Language="1033">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      Description="$(var.ProductName)"/>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

    <PropertyRef Id="NETFRAMEWORK20"/>
    <Condition Message='.NET Framework 2.0 must be installed prior to installation of Git Extensions.'>
      Installed OR NETFRAMEWORK20
    </Condition>

    <Icon Id="cow_head.ico" SourceFile="../cow-head.ico"/>

    <?include AddRemove.wxi?>
    <?include EnableUpgrades.wxi?>

    <UIRef Id="WixUI_GitExtensions"/>
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="InstallDir" Name="$(var.InstallName)">
          <Directory Id="PuttyDir" Name="PuTTY"/>
          <Directory Id="PluginsDir" Name="Plugins"/>
          <Directory Id="InstallerDir" Name="Installer"/>
        </Directory>
      </Directory>
      <Directory Id="PersonalFolder">
        <Directory Id="VS2005" Name="Visual Studio 2005"/>
        <Directory Id="VS2008" Name="Visual Studio 2008"/>
        <Directory Id="VS2010" Name="Visual Studio 2010"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="StartMenuDir" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="InstallDir">
      <Component Id="cow_head.ico" Guid="*">
        <File Source="..\cow-head.ico"/>
      </Component>
      <Component Id="gitex.cmd" Guid="*">
        <File Source="..\bin\gitex.cmd"/>
      </Component>
      <Component Id="GitExtensionsUserManual.pdf" Guid="*">
        <File Source="..\bin\GitExtensionsUserManual.pdf"/>
      </Component>
      <Component Id="GitExtensions.exe" Guid="*">
        <File Source="..\GitCommands\GitExtensions\bin\Release\GitExtensions.exe"/>
      </Component>
      <Component Id="GitCommands.dll" Guid="*">
        <File Source="..\GitCommands\GitExtensions\bin\Release\GitCommands.dll"/>
      </Component>
      <Component Id="GitUI.dll" Guid="*">
        <File Source="..\GitCommands\GitExtensions\bin\Release\GitUI.dll"/>
      </Component>
      <Component Id="ICSharpCode.TextEditor.dll" Guid="*">
        <File Source="..\GitCommands\GitExtensions\bin\Release\ICSharpCode.TextEditor.dll"/>
      </Component>
      <Component Id="SpellChecker.dll" Guid="*">
        <File Source="..\GitCommands\GitExtensions\bin\Release\SpellChecker.dll"/>
      </Component>
      <Component Id="GitUIPluginInterfaces.dll" Guid="*">
        <File Source="..\GitCommands\GitExtensions\bin\Release\GitUIPluginInterfaces.dll"/>
      </Component>

      <?define ShellExCLSID = "{3C16B20A-BA16-4156-916F-0A375ECFFE24}"?>
      
      <Component Id="GitExtensionsShellEx32.dll" Guid="*">
        <Condition>Not VersionNT64</Condition>
        <File
          Name="GitExtensionsShellEx32.dll"
          Source="..\SimpleExt\ReleaseMinDependency\GitExtensionsShellEx.dll"
          KeyPath="yes"/>
        
        <?foreach ShellExFileName in GitExtensionsShellEx32.dll?>
          <?include RegisterShellExtension.wxi?>
        <?endforeach?>
      </Component>

      <Component Id="GitExtensionsShellEx64.dll" Guid="*" Win64="yes">
        <Condition>VersionNT64</Condition>
        <File
          Name="GitExtensionsShellEx64.dll"
          Source="..\SimpleExt\ReleaseMinDependency64\GitExtensionsShellEx.dll"
          KeyPath="yes"/>

        <?foreach ShellExFileName in GitExtensionsShellEx64.dll?>
          <?include RegisterShellExtension.wxi?>
        <?endforeach?>
      </Component>

      <Component Id="checksettings.reg" Guid="*">
        <RegistryValue Name="checksettings" Value="true" Root="HKCU" Key="$(var.AppRegKey)" Type="string"/>
      </Component>
      <Component Id="InstallDir.reg" Guid="*">
        <RegistryValue Name="InstallDir" Value="[InstallDir]" Root="HKCU" Key="$(var.AppRegKey)" Type="string"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PluginsDir">
      <Component Id="AutoCheckForUpdates.dll" Guid="*">
        <File Source="..\Plugins\AutoCheckForUpdates\bin\Release\AutoCheckForUpdates.dll"/>
      </Component>
      <Component Id="AutoCompileSubmodules.dll" Guid="*">
        <File Source="..\Plugins\AutoCompileSubmodules\AutoCompileSubmodules\bin\Release\AutoCompileSubmodules.dll"/>
      </Component>
      <Component Id="GitStatistics.dll" Guid="*">
        <File Source="..\Plugins\Statistics\GitStatistics\bin\Release\GitStatistics.dll"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PuttyDir">
      <Component Id="plink.exe" Guid="*">
        <File Source="..\Bin\plink.exe"/>
      </Component>
      <Component Id="pageant.exe" Guid="*">
        <File Source="..\Bin\pageant.exe"/>
      </Component>
      <Component Id="puttygen.exe" Guid="*">
        <File Source="..\Bin\puttygen.exe"/>
      </Component>

      <Component Id="gitssh.reg" Guid="*">
        <RegistryValue Name="gitssh" Value="[InstallDir]PuTTY\plink.exe" Root="HKCU" Key="$(var.AppRegKey)" Type="string"/>
      </Component>
      <Component Id="plink.reg" Guid="*">
        <RegistryValue Name="plink" Value="[InstallDir]PuTTY\plink.exe" Root="HKCU" Key="$(var.AppRegKey)" Type="string"/>
      </Component>
      <Component Id="pageant.reg" Guid="*">
        <RegistryValue Name="pageant" Value="[InstallDir]PuTTY\pageant.exe" Root="HKCU" Key="$(var.AppRegKey)" Type="string"/>
      </Component>
      <Component Id="puttygen.reg" Guid="*">
        <RegistryValue Name="puttygen" Value="[InstallDir]PuTTY\puttygen.exe" Root="HKCU" Key="$(var.AppRegKey)" Type="string"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="InstallerDir">
      <Component Id="KDiff3Setup_0.9.95.exe" Guid="*">
        <File Source="..\Bin\KDiff3Setup_0.9.95.exe"/>
      </Component>
      <Component Id="Git_1.6.5.1_preview20091022.exe" Guid="*">
        <File Source="..\Bin\Git-1.6.5.1-preview20091022.exe"/>
      </Component>
    </DirectoryRef>

    <?foreach VsVersion in VS2005;VS2008;VS2010?>
    <DirectoryRef Id="$(var.VsVersion)">
      
      <Component Id="$(var.VsVersion)_GitPlugin.AddIn" Guid="*">
        <File
          Id="$(var.VsVersion)_GitPlugin.AddIn"
          Source="..\GitPlugIn\GitPlugin.AddIn"/>
        <RemoveFolder
          Id="$(var.VsVersion)_GitPlugin.AddIn" On="uninstall"/>
      </Component>
      
      <Component Id="$(var.VsVersion)_GitPlugin.dll" Guid="*">
        <File
          Id="$(var.VsVersion)_GitPlugin.dll"
          Source="..\GitPlugIn\obj\Release\GitPlugin.dll"/>
        <RemoveFolder
          Id="$(var.VsVersion)_GitPlugin.dll" On="uninstall"/>
      </Component>
      
      <Directory Id="$(var.VsVersion)_enUS" Name="en-US">
        <Component Id="$(var.VsVersion)_GitPlugin.resources.dll" Guid="*">
          <File
            Id="$(var.VsVersion)_GitPlugin.resources.dll"
            Source="..\GitPlugIn\bin\en-US\GitPlugin.resources.dll"/>
          <RemoveFolder
            Id="$(var.VsVersion)_GitPlugin.resources.dll" On="uninstall"/>
        </Component>
      </Directory>
      
    </DirectoryRef>
    <?endforeach?>

    <DirectoryRef Id="StartMenuDir">
      <Component Id="GitExtensions.shortcut" Guid="*">
        <Shortcut
          Id="GitExtensions.shortcut"
          Name="$(var.ProductName)"
          Description="$(var.ProductName)"
          Icon="cow_head.ico"
          Target="[InstallDir]GitExtensions.exe"
          WorkingDirectory="InstallDir"/>
        <RegistryValue
          Root="HKCU" Key="$(var.InstalledRegKey)"
          Name="GitExtensions.shortcut" Value="" Type="string"
          KeyPath="yes"/>
        <RemoveFolder
          Id="GitExtensions.shortcut"
          On="uninstall"/>
      </Component>

      <Component Id="UserManual.shortcut" Guid="*">
        <Shortcut
          Id="UserManual.shortcut"
          Name="User Manual"
          Description="$(var.ProductName) User Manual"
          Target="[InstallDir]GitExtensionsUserManual.pdf"/>
        <RegistryValue
          Root="HKCU" Key="$(var.InstalledRegKey)"
          Name="UserManual.shortcut" Value="" Type="string"
          KeyPath="yes"/>
        <RemoveFolder
          Id="UserManual.shortcut"
          On="uninstall"/>
      </Component>
    </DirectoryRef>

    <Feature Id="GitExtensions" Title="Git Extensions" Level="1" Display="expand">
      <ComponentRef Id="cow_head.ico"/>
      <ComponentRef Id="gitex.cmd"/>
      <ComponentRef Id="GitExtensionsUserManual.pdf"/>
      <ComponentRef Id="GitExtensions.exe"/>
      <ComponentRef Id="GitCommands.dll"/>
      <ComponentRef Id="GitUI.dll"/>
      <ComponentRef Id="ICSharpCode.TextEditor.dll"/>
      <ComponentRef Id="SpellChecker.dll"/>
      <ComponentRef Id="GitUIPluginInterfaces.dll"/>
      <ComponentRef Id="checksettings.reg"/>
      <ComponentRef Id="InstallDir.reg"/>

      <ComponentRef Id="AutoCheckForUpdates.dll"/>
      <ComponentRef Id="AutoCompileSubmodules.dll"/>
      <ComponentRef Id="GitStatistics.dll"/>

      <ComponentRef Id="gitssh.reg"/>
      <ComponentRef Id="plink.exe"/>
      <ComponentRef Id="plink.reg"/>
      <ComponentRef Id="pageant.exe"/>
      <ComponentRef Id="pageant.reg"/>
      <ComponentRef Id="puttygen.exe"/>
      <ComponentRef Id="puttygen.reg"/>

      <ComponentRef Id="GitExtensions.shortcut"/>
      <ComponentRef Id="UserManual.shortcut"/>

      <Feature Id="ShellExtension" Title="Windows Explorer integration" Level="1">
        <ComponentRef Id="GitExtensionsShellEx32.dll"/>
        <ComponentRef Id="GitExtensionsShellEx64.dll"/>
      </Feature>

      <?foreach VsVersion in 2005;2008;2010?>
      <Feature Id="VS$(var.VsVersion)" Title="Visual Studio $(var.VsVersion) integration" Level="2">
        <ComponentRef Id="VS$(var.VsVersion)_GitPlugin.AddIn"/>
        <ComponentRef Id="VS$(var.VsVersion)_GitPlugin.dll"/>
        <ComponentRef Id="VS$(var.VsVersion)_GitPlugin.resources.dll"/>
      </Feature>
      <?endforeach?>
    </Feature>

    <Feature Id="RequiredSoftware" Title="Required Software" Level="1" Display="expand">
      <Feature Id="msysgit" Title="msysgit (1.6.5.1)" Level="1">
        <ComponentRef Id="Git_1.6.5.1_preview20091022.exe"/>
      </Feature>
      <Feature Id="KDiff" Title="KDiff3 (0.9.95)" Level="1">
        <ComponentRef Id="KDiff3Setup_0.9.95.exe"/>
      </Feature>
    </Feature>

  </Product>

</Wix>