<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <?include Config.wxi?>
  <Product Id="*" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductName) $(var.Version)" Manufacturer="$(var.Manufacturer)" Version="$(var.NumericVersion)" Language="1033">
    <Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductName)" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Property Id="ALLUSERS" Value="1" />
    <!--
      Read the currently configured value.
     -->
    <Icon Id="gitextensions.ico" SourceFile="..\Logo\git-extensions-logo.ico" />
    <?include AddRemove.wxi?>
    <?include EnableUpgrades.wxi?>
    <UIRef Id="WixUI_GitExtensions" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="LAUNCH" Value="0" />
    <Property Id="TELEMETRY_ENABLED" Value="1" Secure="yes" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUISupportPerUser" Value="1" Overridable="yes" />
    <WixVariable Id="WixUISupportPerMachine" Value="1" Overridable="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.InstallName)">
          <Directory Id="PluginsDir" Name="Plugins" />
          <Directory Id="DictionariesDir" Name="Dictionaries" />
          <Directory Id="TranslationsDir" Name="Translation" />
          <Directory Id="DiffScriptsDir" Name="Diff-Scripts" />
          <Directory Id="DirConEmu" Name="ConEmu" />
          <Directory Id="ThemesDir" Name="Themes" />
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalAppDataOrganizationDir" Name="GitExtensions">
          <Directory Id="UserPluginsDir" Name="UserPlugins">
            <Directory Id="PluginManagerDir" Name="GitExtensions.PluginManager">
              <Directory Id="PackageManagerDir" Name="PackageManager">
                <Component Id="PackageManager" Guid="{81556E1B-270C-448D-A68D-FD30678D4827}">
                  <RemoveFolder Id="RemoveLocalAppDataOrganizationDir" Directory="LocalAppDataOrganizationDir" On="uninstall" />
                  <RemoveFolder Id="RemoveUserPluginsDir" Directory="UserPluginsDir" On="uninstall" />
                  <RemoveFolder Id="RemovePluginManagerDir" Directory="PluginManagerDir" On="uninstall" />
                  <RemoveFolder Id="RemovePackageManagerDir" Directory="PackageManagerDir" On="uninstall" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="StartMenuDir" Name="$(var.ProductName)" />
      </Directory>
      <Directory Id="DesktopFolder" />
      <Component Id="Path" Guid="{DAC97FD8-A869-4458-AABD-C27D2C892643}">
        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </Directory>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="gitextensions.ico" Guid="*">
        <File Source="..\Logo\git-extensions-logo.ico" />
      </Component>
      <Component Id="gitex.cmd" Guid="*">
        <File Source="..\Bin\gitex.cmd" />
      </Component>
      <Component Id="set_telemetry" Guid="*">
        <File Source="..\Bin\set-telemetry.ps1" />
      </Component>
      <Component Id="GitExtensions.exe" Guid="5530254F-DCAC-4C82-BD4B-F54D76024929">
        <File Source="$(var.ArtifactsPublishPath)\GitExtensions.exe" KeyPath="yes">
          <netfx:NativeImage Id="ngen_GitExtensions.exe" Platform="all" Priority="1" />
        </File>
        <ProgId Id="GitExtensions" Description="Git Extentions Shortcut" Advertise="no">
          <Extension Id="gitext">
            <Verb Id="open" Command="Open Git Extentions Repository" TargetFile="GitExtensions.exe" Argument="openrepo &quot;%1&quot;" />
          </Extension>
        </ProgId>
      </Component>
      <Component Id="AdysTech.CredentialManager.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\AdysTech.CredentialManager.dll" />
      </Component>
      <Component Id="AppInsights.WindowsDesktop.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\AppInsights.WindowsDesktop.dll" />
      </Component>
      <Component Id="Ben.Demystifier.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Ben.Demystifier.dll" />
      </Component>
      <Component Id="BugReporter.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\BugReporter.dll" />
      </Component>
      <Component Id="BugReporter.exe" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\BugReporter.exe" />
      </Component>
      <Component Id="BugReporter.runtimeconfig.json" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\BugReporter.runtimeconfig.json" />
      </Component>
      <Component Id="ConEmuWinForms.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmuWinForms.dll" />
      </Component>
      <Component Id="EnvDTE.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\EnvDTE.dll" />
      </Component>
      <!--
      <Component Id="EasyHook.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\EasyHook.dll" />
      </Component>
      <Component Id="EasyHook32.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\EasyHook32.dll" />
      </Component>
      <Component Id="EasyHook64.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\EasyHook64.dll" />
      </Component>
      -->
      <Component Id="ExCSS.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ExCSS.dll" />
      </Component>
      <Component Id="Git.hub.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Git.hub.dll" />
      </Component>
      <Component Id="GitCommands.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitCommands.dll" />
      </Component>
      <Component Id="GitExtensions.deps.json" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitExtensions.deps.json" />
      </Component>
      <!-- <Component Id="GitExtensions.exe.config" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitExtensions.exe.config" />
      </Component> -->
      <Component Id="GitExtensions.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitExtensions.dll" />
      </Component>
      <Component Id="GitExtensions.dll.config" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitExtensions.dll.config" />
      </Component>
      <Component Id="GitExtensions.runtimeconfig.json" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitExtensions.runtimeconfig.json" />
      </Component>
      <Component Id="GitExtUtils.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitExtUtils.dll" />
      </Component>
      <Component Id="GitUI.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitUI.dll" />
      </Component>
      <Component Id="GitUIPluginInterfaces.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\GitUIPluginInterfaces.dll" />
      </Component>
      <Component Id="ICSharpCode.TextEditor.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ICSharpCode.TextEditor.dll" />
      </Component>
      <Component Id="Microsoft.AI.DependencyCollector.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.AI.DependencyCollector.dll" />
      </Component>
      <Component Id="Microsoft.ApplicationInsights.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.ApplicationInsights.dll" />
      </Component>
      <Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.Bcl.AsyncInterfaces.dll" />
      </Component>
      <Component Id="Microsoft.Toolkit.HighPerformance.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.Toolkit.HighPerformance.dll" />
      </Component>
      <Component Id="Microsoft.VisualStudio.Composition.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.VisualStudio.Composition.dll" />
      </Component>
      <!-- Remove unused dll, installed in versions <= 4.0.1 -->
      <Component Id="Microsoft.VisualStudio.Composition.NetFxAttributes.dll" Guid="D4782F6D-044B-5BD2-858A-1A3D8510B277">
        <RemoveFile Name="Microsoft.VisualStudio.Composition.NetFxAttributes.dll" Id="Microsoft.VisualStudio.Composition.NetFxAttributes.dll" On="both" />
      </Component>
      <Component Id="Microsoft.VisualStudio.Interop.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.VisualStudio.Interop.dll" />
      </Component>
      <Component Id="Microsoft.VisualStudio.Threading.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.VisualStudio.Threading.dll" />
      </Component>
      <Component Id="Microsoft.VisualStudio.Validation.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.VisualStudio.Validation.dll" />
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="ResourceManager.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ResourceManager.dll" />
      </Component>
      <Component Id="RestSharp.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\RestSharp.dll" />
      </Component>
      <Component Id="SmartFormat.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\SmartFormat.dll" />
      </Component>
      <Component Id="SmartFormat.ZString.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\SmartFormat.ZString.dll" />
      </Component>
      <Component Id="SpellChecker.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\SpellChecker.dll" />
      </Component>
      <Component Id="System.ComponentModel.Composition.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.ComponentModel.Composition.dll" />
      </Component>
      <Component Id="System.Composition.AttributedModel.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Composition.AttributedModel.dll" />
      </Component>
      <Component Id="System.Composition.Convention.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Composition.Convention.dll" />
      </Component>
      <Component Id="System.Composition.Hosting.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Composition.Hosting.dll" />
      </Component>
      <Component Id="System.Composition.Runtime.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Composition.Runtime.dll" />
      </Component>
      <Component Id="System.Composition.TypedParts.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Composition.TypedParts.dll" />
      </Component>
      <Component Id="System.IO.Abstractions.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.IO.Abstractions.dll" />
      </Component>
      <Component Id="System.Reactive.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Reactive.dll" />
      </Component>
      <Component Id="System.Reactive.Interfaces.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Reactive.Interfaces.dll" />
      </Component>
      <Component Id="System.Reactive.Linq.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\System.Reactive.Linq.dll" />
      </Component>
      <!-- Shell extensions -->
      <?define ShellExCLSID = "{3C16B20A-BA16-4156-916F-0A375ECFFE24}"?>
      <Component Id="GitExtensionsShellEx32.dll" Guid="*">
        <File Name="GitExtensionsShellEx32.dll" Source="$(var.ArtifactsBinPath)\GitExtensionsShellEx\GitExtensionsShellEx32.dll" KeyPath="yes" />
        <?foreach ShellExFileName in GitExtensionsShellEx32.dll?>
        <?include RegisterShellExtension.wxi?>
        <?endforeach ?>
      </Component>
      <Component Id="GitExtensionsShellEx64.dll" Guid="*" Win64="yes">
        <Condition>VersionNT64</Condition>
        <File Name="GitExtensionsShellEx64.dll" Source="$(var.ArtifactsBinPath)\GitExtensionsShellEx\GitExtensionsShellEx64.dll" KeyPath="yes" />
        <?foreach ShellExFileName in GitExtensionsShellEx64.dll?>
        <?include RegisterShellExtension.wxi?>
        <?endforeach ?>
      </Component>
      <!-- End shell extensions -->
      <Component Id="GitExtSshAskPass.exe" Guid="*">
        <File Source="$(var.ArtifactsBinPath)\GitExtSshAskPass\GitExtSshAskPass.exe" />
      </Component>
      <Component Id="checksettings.reg" Guid="*">
        <RegistryValue Name="CheckSettings" Value="true" Root="HKCU" Key="$(var.AppRegKey)" Type="string" />
      </Component>
      <Component Id="InstallDir.reg" Guid="*">
        <RegistryValue Name="InstallDir" Value="[INSTALLDIR]" Root="HKCU" Key="$(var.AppRegKey)" Type="string" />
      </Component>
      <Component Id="Protocol.git" Guid="*">
        <RegistryKey Key="git" Root="HKCR">
          <RegistryValue Value="URL: Github for Windows Protocol" Type="string" />
          <RegistryValue Name="URL Protocol" Value="" Type="string" />
        </RegistryKey>
        <RegistryKey Key="git\DefaultIcon" Root="HKCR">
          <RegistryValue Value="[INSTALLDIR]GitExtensions.exe" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="git\shell" />
        <RegistryKey Root="HKCR" Key="git\shell\open" />
        <RegistryKey Root="HKCR" Key="git\shell\open\command">
          <RegistryValue Value="&quot;[INSTALLDIR]GitExtensions.exe&quot; %1" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="Protocol.github_windows" Guid="*">
        <RegistryKey Key="github-windows" Root="HKCR">
          <RegistryValue Value="URL: Github for Windows Protocol" Type="string" />
          <RegistryValue Name="URL Protocol" Value="" Type="string" />
        </RegistryKey>
        <RegistryKey Key="github-windows\DefaultIcon" Root="HKCR">
          <RegistryValue Value="[INSTALLDIR]GitExtensions.exe" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="github-windows\shell" />
        <RegistryKey Root="HKCR" Key="github-windows\shell\open" />
        <RegistryKey Root="HKCR" Key="github-windows\shell\open\command">
          <RegistryValue Value="&quot;[INSTALLDIR]GitExtensions.exe&quot; %1" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="Protocol.github_mac" Guid="*">
        <RegistryKey Key="github-mac" Root="HKCR">
          <RegistryValue Value="URL: Github for Mac Protocol" Type="string" />
          <RegistryValue Name="URL Protocol" Value="" Type="string" />
        </RegistryKey>
        <RegistryKey Key="github-mac\DefaultIcon" Root="HKCR">
          <RegistryValue Value="[INSTALLDIR]GitExtensions.exe" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="github-mac\shell" />
        <RegistryKey Root="HKCR" Key="github-mac\shell\open" />
        <RegistryKey Root="HKCR" Key="github-mac\shell\open\command">
          <RegistryValue Value="&quot;[INSTALLDIR]GitExtensions.exe&quot; %1" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ThemesDir">
      <Component Id="Themes.README.md" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Themes\README.md" />
      </Component>
      <Component Id="Themes.invariant.css" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Themes\invariant.css" />
      </Component>
      <Component Id="Themes.bright.css" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Themes\bright.css" />
      </Component>
      <Component Id="Themes.highcontrast_dark.css" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Themes\highcontrast_dark.css" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="PluginsDir">
      <Component Id="DeleteUnusedBranches.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.DeleteUnusedBranches.dll" />
      </Component>
      <Component Id="AutoCompileSubmodules.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.AutoCompileSubmodules.dll" />
      </Component>
      <Component Id="BackgroundFetch.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.BackgroundFetch.dll" />
      </Component>
      <Component Id="CreateLocalBranches.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.CreateLocalBranches.dll" />
      </Component>
      <Component Id="GitStatistics.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.GitStatistics.dll" />
      </Component>
      <Component Id="GitImpact.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.GitImpact.dll" />
      </Component>
      <Component Id="Gource.dll" Guid="52F03345-7A36-5CFC-9287-94F03E72556B">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.Gource.dll" />
        <File Source="$(var.ArtifactsPublishPath)\Plugins\ICSharpCode.SharpZipLib.dll" />
      </Component>
      <Component Id="Github3.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.GitHub3.dll" />
      </Component>
      <Component Id="GitFlow.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.GitFlow.dll" />
      </Component>
      <Component Id="ReleaseNotesGenerator.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.ReleaseNotesGenerator.dll" />
      </Component>
      <Component Id="JiraCommitHintPlugin.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.JiraCommitHintPlugin.dll" />
      </Component>
      <Component Id="Atlassian.Jira.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\Atlassian.Jira.dll" />
      </Component>
      <Component Id="NString.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\NString.dll" />
      </Component>
      <Component Id="FindLargeFiles.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.FindLargeFiles.dll" />
      </Component>
      <Component Id="ProxySwitcher.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.ProxySwitcher.dll" />
      </Component>
      <Component Id="Bitbucket.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.Plugins.Bitbucket.dll" />
      </Component>
      <Component Id="TeamCityIntegration.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.TeamCityIntegration.dll" />
      </Component>
      <Component Id="AppVeyorIntegration.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.AppVeyorIntegration.dll" />
      </Component>
      <Component Id="JenkinsIntegration.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.JenkinsIntegration.dll" />
      </Component>
      <Component Id="AzureDevOpsIntegration.dll" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Plugins\GitExtensions.AzureDevOpsIntegration.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="PluginManagerDir">
      <Component Id="GitExtensions.PluginManager.dll" Guid="*">
        <File Source="$(var.PluginManagerSourceDir)\GitExtensions.PluginManager.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="PackageManagerDir">
      <Component Id="PackageManager.UI.exe" Guid="*">
        <File Source="$(var.PluginManagerSourceDir)\PackageManager\PackageManager.UI.exe" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DiffScriptsDir">
      <Component Id="mergedoc.js" Guid="*">
        <File Source="..\Bin\Diff-Scripts\merge-doc.js" />
      </Component>
      <Component Id="mergeods.vbs" Guid="*">
        <File Source="..\Bin\Diff-Scripts\merge-ods.vbs" />
      </Component>
      <Component Id="License.txt" Guid="*">
        <File Source="..\Bin\Diff-Scripts\TortoiseSVN License.txt" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DictionariesDir">
      <Component Id="deDE.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\de-DE.dic" />
      </Component>
      <Component Id="enAU.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\en-AU.dic" />
      </Component>
      <Component Id="enCA.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\en-CA.dic" />
      </Component>
      <Component Id="enGB.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\en-GB.dic" />
      </Component>
      <Component Id="enUS.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\en-US.dic" />
      </Component>
      <Component Id="esES.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\es-ES.dic" />
      </Component>
      <Component Id="esMX.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\es-MX.dic" />
      </Component>
      <Component Id="frFR.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\fr-FR.dic" />
      </Component>
      <Component Id="itIT.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\it-IT.dic" />
      </Component>
      <Component Id="nlNL.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\nl-NL.dic" />
      </Component>
      <Component Id="roRO.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\ro-RO.dic" />
      </Component>
      <Component Id="ruRU.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\ru-RU.dic" />
      </Component>
      <Component Id="plPL.dic" Guid="*">
        <File Source="..\Bin\Dictionaries\pl-PL.dic" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="TranslationsDir">
      <Component Id="English.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\English.gif" />
      </Component>
      <Component Id="English.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\English.xlf" />
      </Component>
      <Component Id="English.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\English.Plugins.xlf" />
      </Component>
      <Component Id="French.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\French.gif" />
      </Component>
      <Component Id="French.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\French.xlf" />
      </Component>
      <Component Id="French.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\French.Plugins.xlf" />
      </Component>
      <Component Id="German.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\German.gif" />
      </Component>
      <Component Id="German.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\German.xlf" />
      </Component>
      <Component Id="German.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\German.Plugins.xlf" />
      </Component>
      <Component Id="Japanese.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Japanese.gif" />
      </Component>
      <Component Id="Japanese.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Japanese.xlf" />
      </Component>
      <Component Id="Japanese.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Japanese.Plugins.xlf" />
      </Component>
      <Component Id="Korean.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Korean.gif" />
      </Component>
      <Component Id="Korean.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Korean.xlf" />
      </Component>
      <Component Id="Korean.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Korean.Plugins.xlf" />
      </Component>
      <Component Id="Polish.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Polish.gif" />
      </Component>
      <Component Id="Polish.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Polish.xlf" />
      </Component>
      <Component Id="Polish.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Polish.Plugins.xlf" />
      </Component>
      <Component Id="Russian.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Russian.gif" />
      </Component>
      <Component Id="Russian.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Russian.xlf" />
      </Component>
      <Component Id="Russian.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Russian.Plugins.xlf" />
      </Component>
      <Component Id="SimplifiedChinese.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Simplified Chinese.gif" />
      </Component>
      <Component Id="SimplifiedChinese.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Simplified Chinese.xlf" />
      </Component>
      <Component Id="SimplifiedChinese.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Simplified Chinese.Plugins.xlf" />
      </Component>
      <Component Id="Spanish_Argentina.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Spanish (Argentina).gif" />
      </Component>
      <Component Id="Spanish_Argentina.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Spanish (Argentina).xlf" />
      </Component>
      <Component Id="Spanish_Argentina.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Spanish (Argentina).Plugins.xlf" />
      </Component>
      <Component Id="Spanish.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Spanish.gif" />
      </Component>
      <Component Id="Spanish.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Spanish.xlf" />
      </Component>
      <Component Id="Spanish.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Spanish.Plugins.xlf" />
      </Component>
      <Component Id="TraditionalChinese.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Traditional Chinese.gif" />
      </Component>
      <Component Id="TraditionalChinese.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Traditional Chinese.xlf" />
      </Component>
      <Component Id="TraditionalChinese.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Traditional Chinese.Plugins.xlf" />
      </Component>
      <Component Id="Turkish.gif" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Turkish.gif" />
      </Component>
      <Component Id="Turkish.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Turkish.xlf" />
      </Component>
      <Component Id="Turkish.Plugins.xlf" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\Translation\Turkish.Plugins.xlf" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DirConEmu">
      <Component Id="File.CER00" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\CmdInit.cmd" />
      </Component>
      <Component Id="File.CER01" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmu.exe" />
      </Component>
      <Component Id="File.CER03" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmu64.exe" />
      </Component>
      <Component Id="File.CER04" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmuC.exe" />
      </Component>
      <Component Id="File.CER05" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmuC64.exe" />
      </Component>
      <Component Id="File.CER06" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmuCD.dll" />
      </Component>
      <Component Id="File.CER07" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmuCD64.dll" />
      </Component>
      <Component Id="File.CER08" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmuHk.dll" />
      </Component>
      <Component Id="File.CER09" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\ConEmuHk64.dll" />
      </Component>
      <Component Id="File.CER10" Guid="*">
        <File Source="$(var.ArtifactsPublishPath)\ConEmu\GitShowBranch.cmd" />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="Component.ConEmuFiles">
      <ComponentRef Id="File.CER00" />
      <ComponentRef Id="File.CER01" />
      <ComponentRef Id="File.CER03" />
      <ComponentRef Id="File.CER04" />
      <ComponentRef Id="File.CER05" />
      <ComponentRef Id="File.CER06" />
      <ComponentRef Id="File.CER07" />
      <ComponentRef Id="File.CER08" />
      <ComponentRef Id="File.CER09" />
      <ComponentRef Id="File.CER10" />
    </ComponentGroup>
    <ComponentGroup Id="Component.Themes">
      <ComponentRef Id="Themes.README.md" />
      <ComponentRef Id="Themes.invariant.css" />
      <ComponentRef Id="Themes.bright.css" />
      <ComponentRef Id="Themes.highcontrast_dark.css" />
    </ComponentGroup>
    <ComponentGroup Id="Component.Translation">
      <ComponentRef Id="English.gif" />
      <ComponentRef Id="English.xlf" />
      <ComponentRef Id="English.Plugins.xlf" />
    </ComponentGroup>
    <ComponentGroup Id="Component.PluginResources" />
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="GitExtensions.newstartmenu" Guid="*">
        <Shortcut Id="GitExtensions.newstartmenu" Name="$(var.ProductName)" Description="$(var.ProductName)" Icon="gitextensions.ico" Target="[INSTALLDIR]GitExtensions.exe" WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="$(var.InstalledRegKey)" Name="GitExtensions.newstartmenu" Value="" Type="string" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <!-- Remove old start menu entries -->
    <DirectoryRef Id="StartMenuDir">
      <Component Id="GitExtensions.startmenu" Guid="{028C359A-8752-48E1-86EE-A539A9D2709A}">
        <RemoveFolder Id="GitExtensions.startmenu" Directory="StartMenuDir" On="install" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="GitExtensions.desktop" Guid="*">
        <Shortcut Id="GitExtensions.desktop" Name="$(var.ProductName)" Description="$(var.ProductName)" Icon="gitextensions.ico" Target="[INSTALLDIR]GitExtensions.exe" WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="$(var.InstalledRegKey)" Name="GitExtensions.desktop" Value="" Type="string" KeyPath="yes" />
        <RemoveFolder Id="GitExtensions.desktop" On="uninstall" />
      </Component>
    </DirectoryRef>
    <Feature Id="GitExtensions" Title="Git Extensions" Level="1" Display="expand">
      <!-- Application build artifacts -->
      <ComponentGroupRef Id="Component.ConEmuFiles" />
      <ComponentGroupRef Id="Component.Themes" />
      <ComponentGroupRef Id="Component.Translation" />
      <ComponentRef Id="AdysTech.CredentialManager.dll" />
      <ComponentRef Id="AppInsights.WindowsDesktop.dll" />
      <ComponentRef Id="Ben.Demystifier.dll" />
      <ComponentRef Id="BugReporter.dll" />
      <ComponentRef Id="BugReporter.exe" />
      <ComponentRef Id="BugReporter.runtimeconfig.json" />
      <ComponentRef Id="ConEmuWinForms.dll" />
      <!--
      <ComponentRef Id="EasyHook.dll" />
      <ComponentRef Id="EasyHook32.dll" />
      <ComponentRef Id="EasyHook64.dll" />
      -->
      <ComponentRef Id="EnvDTE.dll" />
      <ComponentRef Id="ExCSS.dll" />
      <ComponentRef Id="Git.hub.dll" />
      <ComponentRef Id="GitCommands.dll" />
      <ComponentRef Id="GitExtensions.deps.json" />
      <ComponentRef Id="GitExtensions.dll" />
      <ComponentRef Id="GitExtensions.dll.config" />
      <ComponentRef Id="GitExtensions.exe" />
      <ComponentRef Id="GitExtensions.runtimeconfig.json" />
      <ComponentRef Id="GitExtUtils.dll" />
      <ComponentRef Id="GitUI.dll" />
      <ComponentRef Id="GitUIPluginInterfaces.dll" />
      <ComponentRef Id="ICSharpCode.TextEditor.dll" />
      <ComponentRef Id="Microsoft.AI.DependencyCollector.dll" />
      <ComponentRef Id="Microsoft.ApplicationInsights.dll" />
      <ComponentRef Id="Microsoft.Bcl.AsyncInterfaces.dll" />
      <ComponentRef Id="Microsoft.Toolkit.HighPerformance.dll" />
      <ComponentRef Id="Microsoft.VisualStudio.Composition.dll" />
      <ComponentRef Id="Microsoft.VisualStudio.Composition.NetFxAttributes.dll" />
      <ComponentRef Id="Microsoft.VisualStudio.Interop.dll" />
      <ComponentRef Id="Microsoft.VisualStudio.Threading.dll" />
      <ComponentRef Id="Microsoft.VisualStudio.Validation.dll" />
      <ComponentRef Id="Microsoft.WindowsAPICodePack.dll" />
      <ComponentRef Id="Microsoft.WindowsAPICodePack.Shell.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="ResourceManager.dll" />
      <ComponentRef Id="RestSharp.dll" />
      <ComponentRef Id="SmartFormat.dll" />
      <ComponentRef Id="SmartFormat.ZString.dll" />
      <ComponentRef Id="SpellChecker.dll" />
      <ComponentRef Id="System.ComponentModel.Composition.dll" />
      <ComponentRef Id="System.Composition.AttributedModel.dll" />
      <ComponentRef Id="System.Composition.Convention.dll" />
      <ComponentRef Id="System.Composition.Hosting.dll" />
      <ComponentRef Id="System.Composition.Runtime.dll" />
      <ComponentRef Id="System.Composition.TypedParts.dll" />
      <ComponentRef Id="System.IO.Abstractions.dll" />
      <ComponentRef Id="System.Reactive.dll" />
      <ComponentRef Id="System.Reactive.Interfaces.dll" />
      <ComponentRef Id="System.Reactive.Linq.dll" />
      <!-- end application build artifacts -->
      <ComponentRef Id="gitextensions.ico" />
      <ComponentRef Id="gitex.cmd" />
      <ComponentRef Id="set_telemetry" />
      <ComponentRef Id="checksettings.reg" />
      <ComponentRef Id="InstallDir.reg" />
      <ComponentRef Id="GitExtSshAskPass.exe" />
      <ComponentRef Id="GitExtensions.newstartmenu" />
      <ComponentRef Id="GitExtensions.startmenu" />
      <!-- Plugin Manager build artifacts -->
      <ComponentRef Id="GitExtensions.PluginManager.dll" />
      <ComponentRef Id="PackageManager" />
      <ComponentRef Id="PackageManager.UI.exe" />
      <!-- End Plugin Manager build artifacts -->
      <Feature Id="Plugins" Title="Plugins" Level="1">
        <ComponentGroupRef Id="Component.PluginResources" />
        <Feature Id="AutoCompileSubmodules" Title="Auto compile submodules" Level="1">
          <ComponentRef Id="AutoCompileSubmodules.dll" />
        </Feature>
        <Feature Id="BackgroundFetch" Title="Periodic background fetch" Level="1">
          <ComponentRef Id="BackgroundFetch.dll" />
        </Feature>
        <Feature Id="CreateLocalBranches" Title="Create local branches" Level="1">
          <ComponentRef Id="CreateLocalBranches.dll" />
        </Feature>
        <Feature Id="DeleteUnusedBranches" Title="Delete unused branches" Level="1">
          <ComponentRef Id="DeleteUnusedBranches.dll" />
        </Feature>
        <Feature Id="FindLargeFiles" Title="Find large files" Level="1">
          <ComponentRef Id="FindLargeFiles.dll" />
        </Feature>
        <Feature Id="Github" Title="Github integration" Level="1">
          <ComponentRef Id="Github3.dll" />
        </Feature>
        <Feature Id="GitFlow" Title="GitFlow" Level="1">
          <ComponentRef Id="GitFlow.dll" />
        </Feature>
        <Feature Id="Gource" Title="Gource visualization" Level="1">
          <ComponentRef Id="Gource.dll" />
        </Feature>
        <Feature Id="Impact" Title="Impact Graph" Level="1">
          <ComponentRef Id="GitImpact.dll" />
        </Feature>
        <Feature Id="Statistics" Title="Statistics" Level="1">
          <ComponentRef Id="GitStatistics.dll" />
        </Feature>
        <Feature Id="ProxySwitcher" Title="Proxy switcher" Level="1">
          <ComponentRef Id="ProxySwitcher.dll" />
        </Feature>
        <Feature Id="ReleaseNotesGenerator" Title="Release notes generator" Level="1">
          <ComponentRef Id="ReleaseNotesGenerator.dll" />
        </Feature>
        <Feature Id="Bitbucket" Title="Atlassian Bitbucket Server integration" Level="1">
          <ComponentRef Id="Bitbucket.dll" />
        </Feature>
        <Feature Id="AppVeyorIntegration" Title="AppVeyor integration" Level="1">
          <ComponentRef Id="AppVeyorIntegration.dll" />
        </Feature>
        <Feature Id="TeamCityIntegration" Title="TeamCity integration" Level="1">
          <ComponentRef Id="TeamCityIntegration.dll" />
        </Feature>
        <Feature Id="JenkinsIntegration" Title="Jenkins integration" Level="1">
          <ComponentRef Id="JenkinsIntegration.dll" />
        </Feature>
        <Feature Id="AzureDevOpsIntegration" Title="Azure DevOps and TFS &gt;= 2015 integration" Level="1">
          <ComponentRef Id="AzureDevOpsIntegration.dll" />
        </Feature>
        <Feature Id="JiraCommitHintPlugin" Title="Jira Commit Hint Plugin" Level="1">
          <ComponentRef Id="JiraCommitHintPlugin.dll" />
          <ComponentRef Id="Atlassian.Jira.dll" />
          <ComponentRef Id="RestSharp.dll" />
          <ComponentRef Id="NString.dll" />
        </Feature>
      </Feature>
      <Feature Id="GitExtensions.desktop" Title="Desktop shortcut" Level="1">
        <ComponentRef Id="GitExtensions.desktop" />
      </Feature>
      <Feature Id="DiffScripts" Title="Custom merge scripts" Level="1">
        <ComponentRef Id="mergedoc.js" />
        <ComponentRef Id="mergeods.vbs" />
        <ComponentRef Id="License.txt" />
      </Feature>
      <Feature Id="Dictionaries" Title="Spelling dictionaries" Level="1">
        <Feature Id="deDE" Title="de-DE" Level="1">
          <ComponentRef Id="deDE.dic" />
        </Feature>
        <Feature Id="enAU" Title="en-AU" Level="1">
          <ComponentRef Id="enAU.dic" />
        </Feature>
        <Feature Id="enCA" Title="en-CA" Level="1">
          <ComponentRef Id="enCA.dic" />
        </Feature>
        <Feature Id="enGB" Title="en-GB" Level="1">
          <ComponentRef Id="enGB.dic" />
        </Feature>
        <Feature Id="enUS" Title="en-US" Level="1">
          <ComponentRef Id="enUS.dic" />
        </Feature>
        <Feature Id="esES" Title="es-ES" Level="1">
          <ComponentRef Id="esES.dic" />
        </Feature>
        <Feature Id="esMX" Title="es-MX" Level="1">
          <ComponentRef Id="esMX.dic" />
        </Feature>
        <Feature Id="frFR" Title="fr-FR" Level="1">
          <ComponentRef Id="frFR.dic" />
        </Feature>
        <Feature Id="itIT" Title="it-IT" Level="1">
          <ComponentRef Id="itIT.dic" />
        </Feature>
        <Feature Id="nlNL" Title="nl-NL" Level="1">
          <ComponentRef Id="nlNL.dic" />
        </Feature>
        <Feature Id="roRO" Title="ro-RO" Level="1">
          <ComponentRef Id="roRO.dic" />
        </Feature>
        <Feature Id="ruRU" Title="ru-RU" Level="1">
          <ComponentRef Id="ruRU.dic" />
        </Feature>
        <Feature Id="plPL" Title="pl-PL" Level="1">
          <ComponentRef Id="plPL.dic" />
        </Feature>
      </Feature>
      <Feature Id="Translation" Title="Translations" Level="1">
        <Feature Id="French" Title="French" Level="1">
          <ComponentRef Id="French.xlf" />
          <ComponentRef Id="French.Plugins.xlf" />
          <ComponentRef Id="French.gif" />
        </Feature>
        <Feature Id="German" Title="German" Level="1">
          <ComponentRef Id="German.xlf" />
          <ComponentRef Id="German.Plugins.xlf" />
          <ComponentRef Id="German.gif" />
        </Feature>
        <Feature Id="Japanese" Title="Japanese" Level="1">
          <ComponentRef Id="Japanese.xlf" />
          <ComponentRef Id="Japanese.Plugins.xlf" />
          <ComponentRef Id="Japanese.gif" />
        </Feature>
        <Feature Id="Korean" Title="Korean" Level="1">
          <ComponentRef Id="Korean.xlf" />
          <ComponentRef Id="Korean.Plugins.xlf" />
          <ComponentRef Id="Korean.gif" />
        </Feature>
        <Feature Id="Polish" Title="Polish" Level="1">
          <ComponentRef Id="Polish.xlf" />
          <ComponentRef Id="Polish.Plugins.xlf" />
          <ComponentRef Id="Polish.gif" />
        </Feature>
        <Feature Id="Russian" Title="Russian" Level="1">
          <ComponentRef Id="Russian.xlf" />
          <ComponentRef Id="Russian.Plugins.xlf" />
          <ComponentRef Id="Russian.gif" />
        </Feature>
        <Feature Id="SimplifiedChinese" Title="Simplified Chinese" Level="1">
          <ComponentRef Id="SimplifiedChinese.xlf" />
          <ComponentRef Id="SimplifiedChinese.Plugins.xlf" />
          <ComponentRef Id="SimplifiedChinese.gif" />
        </Feature>
        <Feature Id="Spanish_Argentina" Title="Spanish (Argentina)" Level="1">
          <ComponentRef Id="Spanish_Argentina.xlf" />
          <ComponentRef Id="Spanish_Argentina.Plugins.xlf" />
          <ComponentRef Id="Spanish_Argentina.gif" />
        </Feature>
        <Feature Id="Spanish" Title="Spanish" Level="1">
          <ComponentRef Id="Spanish.xlf" />
          <ComponentRef Id="Spanish.Plugins.xlf" />
          <ComponentRef Id="Spanish.gif" />
        </Feature>
        <Feature Id="TraditionalChinese" Title="Traditional Chinese" Level="1">
          <ComponentRef Id="TraditionalChinese.xlf" />
          <ComponentRef Id="TraditionalChinese.Plugins.xlf" />
          <ComponentRef Id="TraditionalChinese.gif" />
        </Feature>
        <Feature Id="Turkish" Title="Turkish" Level="1">
          <ComponentRef Id="Turkish.xlf" />
          <ComponentRef Id="Turkish.Plugins.xlf" />
          <ComponentRef Id="Turkish.gif" />
        </Feature>
      </Feature>
      <Feature Id="ShellExtension" Title="Windows Explorer integration" Level="1">
        <ComponentRef Id="GitExtensionsShellEx32.dll" />
        <ComponentRef Id="GitExtensionsShellEx64.dll" />
      </Feature>
      <Feature Id="AddToPath" Title="Add installation directory to PATH" Level="1">
        <ComponentRef Id="Path" />
      </Feature>
      <Feature Id="Protocol.git" Title="Assign with git://-links" Level="1">
        <ComponentRef Id="Protocol.git" />
      </Feature>
      <Feature Id="Protocol.github_windows" Title="Assign with github-windows://-links" Level="1">
        <ComponentRef Id="Protocol.github_windows" />
        <ComponentRef Id="Protocol.github_mac" />
      </Feature>
    </Feature>
    <CustomAction Id="LaunchFile" FileKey="GitExtensions.exe" ExeCommand="" Return="asyncNoWait" />
    <UI />
    <InstallExecuteSequence>
      <Custom Action="LaunchFile" After="InstallFinalize">( NOT Installed ) AND ( LAUNCH = "1" )</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>