<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GitCommands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.2.1.0" newVersion="106.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings></connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>WinForms</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Tiny</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>IsolatedStorage</value>
      </setting>
    </NBug.Properties.Settings>
    <GitCommands.Properties.Settings>
      <!--Set this setting to True to store settings with the application, False to  store settings in user's application data path.-->
      <setting name="IsPortable" serializeAs="String">
        <value>False</value>
      </setting>
    </GitCommands.Properties.Settings>
  </applicationSettings>
</configuration>
