<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40-Client" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40-Client" />
  <package id="SmartFormat.NET" version="1.6.1.0" targetFramework="net40-Client" />
</packages>